
<input type="text" id="hex-copy" value="">
<input type="hidden" id="colors" value="<%= $color_hash.to_json %>">

<script type="text/javascript">

$(document).ready(function() {
	var color_hash = $("#colors").val();
	var colors = JSON.parse(color_hash);

	// Copying swatches
	$(".swatch").click(function() {
		var hex = $(this).data('hex');
		$("#hex-copy").val(hex);
		$("#hex-copy").select();
		document.execCommand("Copy");
		console.log('Copied ' + hex + ' to clipboard!');
		showToast("✅ Color copied to clipboard!");
	});

	$(".color_toggle a").click(function() {
		var palette = $(this).parent().data('palette');
		$(".color_toggle[data-palette='" + palette + "'] a").removeClass('active');
		$(this).addClass('active');
		var mode = $(this).data('mode');
		console.log(mode + ", " + palette);
		
		$('.color-palettes#' + palette + ' .palette').each(function() {
			var palette = $(this).data('palette');
			console.log(palette);
			$(this).find('.swatch .value').each(function() {
				var level = $(this).data('level').toString();
				//console.log(level)
				var value = colors[palette][level][mode];
				$(this).text(value);
				console.log(value);
			});
		});

		return false;
	});



}, event);

</script>
<header>
	<div class="display-wrap">
		
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Colors</h1>
				<p class="text_size-5 text_color-ocean--40">
					The ActiveCampaign color palettes are used throughout our products and marketing material. They are composed of two separate palettes. Our primary palette contains key colors that make up our brand. Our secondary palette includes bright, bold colors to help compliment our main brand colors.
				</p>
			</div>
	</div>
</header>
<%= render "sectionnav" %>
<section id="primary-palette">
	<div class="display-wrap">
		<div class="row middle-xs">
			<div class="col-sm-9 col-xs-12">
				<h5>Primary Palette</h5>
			</div>
			<div class="col-sm-3">
				<div class="button_group color_toggle" data-palette="primary">
					<a href="#" class="item active" data-mode="Hex" javascript="void(0)">Hex</a>
					<a href="#" class="item pms" data-mode="PMS" javascript="void(0)">PMS</a>
					<a href="#" class="item cmyk" data-mode="CMYK" javascript="void(0)">CMYK</a>
				</div>
			</div>
		</div>
		<div class="color-palettes row" id="primary">
			<div class="palette col-xs" data-palette="ocean">
				<div class="swatch main bg-ocean-100" data-hex="<%= color("ocean", "100") %>">
					<div class="text_color-white text_size-3"><strong>Ocean</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("ocean", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-ocean-120" data-hex="<%= color("ocean", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("ocean", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-ocean-80" data-hex="<%= color("ocean", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("ocean", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-ocean-60" data-hex="<%= color("ocean", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("ocean", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-ocean-40" data-hex="<%= color("ocean", "40") %>">
					<span class="value" data-level="40"><%= color("ocean", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-ocean-20 last" data-hex="<%= color("ocean", "20") %>">
					<span class="value" data-level="20"><%= color("ocean", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs" data-palette="slate">
				<div class="swatch main bg-slate-100" data-hex="<%= color("slate", "100") %>" >
					<div class="text_color-white text_size-3"><strong>Slate</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("slate", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-slate-120" data-hex="<%= color("slate", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("slate", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-slate-80" data-hex="<%= color("slate", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("slate", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-slate-60" data-hex="<%= color("slate", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("slate", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-slate-40" data-hex="<%= color("slate", "40") %>">
					<span class="value value" data-level="40"><%= color("slate", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-slate-20 last" data-hex="<%= color("slate", "20") %>">
					<span class="value" data-level="20"><%= color("slate", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs" data-palette="mint">
				<div class="swatch main bg-mint-100" data-hex="<%= color("mint", "100") %>">
					<div class="text_color-white text_size-3"><strong>Mint</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("mint", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-mint-120" data-hex="<%= color("mint", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("mint", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-mint-80" data-hex="<%= color("mint", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("mint", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-mint-60" data-hex="<%= color("mint", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("mint", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-mint-40" data-hex="<%= color("mint", "40") %>">
					<span class="value" data-level="40"><%= color("mint", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-mint-20 last" data-hex="<%= color("mint", "20") %>">
					<span class="value" data-level="20"><%= color("mint", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">&nbsp;</div>
		</div>
	</div>
</section>
<section id="secondary-palette">
	<div class="display-wrap">
		<div class="row middle-xs">
			<div class="col-sm-9 col-xs-12">
				<h5>Secondary Palette</h5>
			</div>
			<div class="col-sm-3">
				<div class="button_group color_toggle" data-palette="secondary">
					<a href="#" class="item active" data-mode="Hex" javascript="void(0)">Hex</a>
					<a href="#" class="item pms" data-mode="PMS" javascript="void(0)">PMS</a>
					<a href="#" class="item cmyk" data-mode="CMYK" javascript="void(0)">CMYK</a>
				</div>
			</div>
		</div>
		<div class="color-palettes row" id="secondary">
			<div class="palette col-xs" data-palette="strawberry">
				<div class="swatch main bg-strawberry-100" data-hex="<%= color("strawberry", "100") %>">
					<div class="text_color-white text_size-3"><strong>Strawberry</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("strawberry", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-strawberry-120" data-hex="<%= color("strawberry", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("strawberry", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-strawberry-80" data-hex="<%= color("strawberry", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("strawberry", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-strawberry-60" data-hex="<%= color("strawberry", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("strawberry", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-strawberry-40" data-hex="<%= color("strawberry", "40") %>">
					<span class=" value" data-level="40"><%= color("strawberry", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-strawberry-20 last" data-hex="<%= color("strawberry", "20") %>">
					<span class=" value" data-level="20"><%= color("strawberry", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs" data-palette="creamsicle">
				<div class="swatch main bg-creamsicle-100" data-hex="<%= color("creamsicle", "100") %>">
					<div class="text_color-white text_size-3"><strong>Creamsicle</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("creamsicle", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-creamsicle-120" data-hex="<%= color("creamsicle", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("creamsicle", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-creamsicle-80" data-hex="<%= color("creamsicle", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("creamsicle", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-creamsicle-60" data-hex="<%= color("creamsicle", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("creamsicle", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-creamsicle-40" data-hex="<%= color("creamsicle", "40") %>">
					<span class=" value" data-level="40"><%= color("creamsicle", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-creamsicle-20 last" data-hex="<%= color("creamsicle", "20") %>">
					<span class=" value" data-level="20"><%= color("creamsicle", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs" data-palette="lavender">
				<div class="swatch main bg-lavender-100" data-hex="<%= color("lavender", "100") %>">
					<div class="text_color-white text_size-3"><strong>Lavender</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("lavender", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-lavender-120" data-hex="<%= color("lavender", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("lavender", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-lavender-80" data-hex="<%= color("lavender", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("lavender", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-lavender-60" data-hex="<%= color("lavender", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("lavender", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-lavender-40" data-hex="<%= color("lavender", "40") %>">
					<span class=" value" data-level="40"><%= color("lavender", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-lavender-20 last" data-hex="<%= color("lavender", "20") %>">
					<span class=" value" data-level="20"><%= color("lavender", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs" data-palette="banana">
				<div class="swatch main bg-banana-100" data-hex="<%= color("banana", "100") %>">
					<div class="text_color-white text_size-3"><strong>Banana</strong></div>
					<span class="text_color-white value" data-level="100"><%= color("banana", "100") %></span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-banana-120" data-hex="<%= color("banana", "120") %>">
					<span class="text_color-white value" data-level="120"><%= color("banana", "120") %></span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-banana-80" data-hex="<%= color("banana", "80") %>">
					<span class="text_color-white value" data-level="80"><%= color("banana", "80") %></span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-banana-60" data-hex="<%= color("banana", "60") %>">
					<span class="text_color-white value" data-level="60"><%= color("banana", "60") %></span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-banana-40" data-hex="<%= color("banana", "40") %>">
					<span class=" value" data-level="40"><%= color("banana", "40") %></span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-banana-20 last" data-hex="<%= color("banana", "20") %>">
					<span class=" value" data-level="20"><%= color("banana", "20") %></span>
					<span class="level">20</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="accessibility">
	<div class="display-wrap separator">
		<h5>Accessibility</h5>
		<div class="callout note"><strong>Note</strong> To maintain web accessibility, the minimum contrast ratio for text and background colors should be 4.5:1 / WCAG AA level.</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="container bordered green-top">
					<div class="row pb5">
						<div class="col-sm-2 col-xs-3">
							<%= image_tag "guideline-yes", width: "64" %>
						</div>
						<div class="col-sm-10 col-xs-9">
							<p class="text_size-3 no-top-margin"><span class="text_color-mint"><strong>Good!</strong></span> The following color combinations meet minimum 4.5:1 WCAG AA ratio and are safe to use.</p>
						</div>
					</div>
					<div class="row pb5">
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-ocean-100 text_color-white text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>4.8:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Ocean 100</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-bordered text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>16.0:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Slate 120</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-slate-100 text_color-white text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>7.5:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Slate 100</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-bordered text_color-ocean--100 text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>4.8:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Ocean 100</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-slate-20 text_color-lighter text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>5.4:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Slate 80</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Slate 20</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-ocean-40 text_color-ocean--120 text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>8.3:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Ocean 120</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Ocean 40</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="container bordered red-top">
					<div class="row pb5">
						<div class="col-sm-2 col-xs-3">
							<%= image_tag "guideline-no", width: "58" %>
						</div>
						<div class="col-sm-10 col-xs-9">
							<p class="text_size-3 no-top-margin"><span class="text_color-strawberry"><strong>Bad!</strong></span> The following colors do not meet minimum requirements and pose accessbility risks.</p>
						</div>
					</div>
					<div class="row pb5">
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-ocean-100 text_color-ocean--120 text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>2.0:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Ocean 120</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Ocean 100</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-bordered text_color-lightest text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>2.8:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Slate 60</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-mint-100 text_color-white text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>1.7:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Mint 100</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-banana-100 text_color-white text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>1.4:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">White</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Banana 100</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-ocean-100 text_color-mint text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>2.3:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Mint 100</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Ocean 100</span>
							</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<div class="text-example bg-strawberry-40 text_color-lightest text_size-3">
								Ease of use without sacrificing power.
							</div>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Contrast</strong></span><br/>
								<span class="text_size-3"><strong>2.2:1</strong></span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Foreground</strong></span><br/>
								<span class="text_size-3">Slate 60</span>
							</p>
							<p>
								<span class="all-caps text_size-1 text_color-lighter"><strong>Background</strong></span><br/>
								<span class="text_size-3">Strawberry 40</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
</section>

