<header class="home-bg">
	<div class="display-wrap pt20">
		<div class="row" id="home-heading">
			<div class="col-xs">
				<h1 class="text_color-white super text-center">Design for everyone through a shared language</h1>
			</div>
		</div>
	</div>
</header>
<div class="display-wrap pt20">
	<div class="row home-feature middle-xs">
		<div class="col-sm-5">
			<%= image_tag "home-color", width: "320" %>
		</div>
		<div class="col-sm-7">
			<h5 class="no-top-margin">Color all the things</h5>
			<p class="text_size-4">
				ActiveCampaign colors allows you to create beautiful designs that make an impact on everything from product design to marketing material.
			</p>
			<div class="mt5">
				<%= link_to "Explore Colors", "/colors", class: "button large hollow " %>
			</div>
		</div>
	</div>
	<div class="row" id="home-get-started">
		<div class="col-xs">
			<h4 class="no-margin">Get Started</h4>
			<p class="text_size-5">
				Whether you are a product manager, developer or a product designer, this styleguide is a common resource to allow anyone to access ActiveCampaign’s design language.
			</p>
		</div>
	</div>
	<div class="row pt12 home-pages">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<div class="home-icon">
						<%= image_tag "icon-logo", width: "48" %>	
					</div>
				</div>
				<div class="col-xs">
					<p class="text_size-4">
						<b>Logo</b>
					</p>
					<p class="text_size-3">
						Resources to help you learn how to effectively use our logo within your projects.
						<div class="pt1 text_size-3">
							<%= link_to "Explore Our Logo", "/logo" %>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<div class="home-icon">
						<%= image_tag "icon-typography", width: "48" %>	
					</div>
				</div>
				<div class="col-xs">
					<p class="text_size-4">
						<b>Typography</b>
					</p>
					<p class="text_size-3">
						Learn about what type faces we use and how to use them effectively in your projects.
						<div class="pt1 text_size-3">
							<%= link_to "Explore Our Typography", "/typography" %>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<div class="home-icon">
						<%= image_tag "icon-colors", width: "48" %>	
					</div>
				</div>
				<div class="col-xs">
					<p class="text_size-4">
						<b>Colors</b>
					</p>
					<p class="text_size-3">
						Color palettes, guides and helpful resources to help you use color in your project.
						<div class="pt1 text_size-3">
							<%= link_to "Explore Our Colors", "/colors" %>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row pt12 home-pages">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<div class="home-icon">
						<%= image_tag "icon-grid", width: "48" %>	
					</div>
				</div>
				<div class="col-xs">
					<p class="text_size-4">
						<b>Grid</b>
					</p>
					<p class="text_size-3">
						Learn how we place elements within our set grid and how to space elements within it.
						<div class="pt1 text_size-3">
							<%= link_to "Explore The Grid", "/grid" %>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<div class="home-icon">
						<%= image_tag "icon-library", width: "48" %>	
					</div>
				</div>
				<div class="col-xs">
					<p class="text_size-4">
						<b>Library</b>
					</p>
					<p class="text_size-3">
						Download templates for our commonly re-used materials so you can create your own.
						<div class="pt1 text_size-3">
							<%= link_to "Explore The Library", "/library" %>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			&nbsp;
		</div>
	</div>
</div>
