<header>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Illustrations</h1>
				<p class="text_size-5 text_color-ocean--40">
					Illustrations are used to support copy by communicating through a visual message. To create a consistent message throughout all of our products, the guidelines and examples below should be followed. 
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Principles</h5>
				<p class="text_size-4 pb5">
					In order to create a consistent brand presence and ensure every illustration delivers the same ideology, follow the following principles.
				</p>
				<ul class="style-medium">
					<li>Be bold and show personality</li>
					<li>Deliver a message and have meaning</li>
					<li>Extend our brand through a consistent style</li>
					<li>Be practical and helpful</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="display-wrap separator">
		<div class="row spacing-medium">
			<div class="col-xs">
				<h5>Spot Illustrations</h5>
				<p class="text_size-4">
					Spot illustrations allow you to add personality and expression to your designs. They are usually small and much simpler compared to their larger counter parts.   
				</p>
				<h6>Guidelines</h6>
				<div class="row">
					<div class="col-sm-5">
						<%= image_tag("guideline-ill-1", width: '275') %>
						<p class="pt4">
							<p class="text_size-5"><strong>Size</strong></p>
							<p class="text_size-2">
								Icons come in three sizes: Small (32px), Medium (64px) and Large (128px) which coincide with our <%= link_to "grid", "/grid"  %>. As icons get bigger, they gain details and new <%= link_to "colors", "/colors"  %>. 
							</p>
						</p>
					</div>
					<div class="col-sm-2">&nbsp;</div>
					<div class="col-sm-5">
						<%= image_tag("guideline-ill-2", width: '160') %>
						<p class="pt4">
							<p class="text_size-5"><strong>Colors</strong></p>
							<p class="text_size-2">
								Icons are primarily shades of our <%= link_to "primary brand blue", "/colors"  %>. However, this can be changed depending on where the icon is being used. Also, an accent color is added at Medium and Large sizes. 
							</p>
						</p>
					</div>
				</div>
				<div class="row pt10">
					<div class="col-sm-5">
						<%= image_tag("guideline-ill-3", width: '304') %>
						<p class="pt4">
							<p class="text_size-5"><strong>Borders</strong></p>
							<p class="text_size-2">
								Exterior borders are always 2px. Borders are primarily solid. Dashed borders can be used on occasion. All borders have a projecting cap. 
							</p>
						</p>
					</div>
					<div class="col-sm-2">&nbsp;</div>
					<div class="col-sm-5">
						<%= image_tag("guideline-ill-4", width: '301') %>
						<p class="pt4">
							<p class="text_size-5"><strong>Backgrounds</strong></p>
							<p class="text_size-2">
								Optionally you can add a background to your spot illustration to make it stand out even more. Backgrounds are set circular designs that you can choose from. 
							</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>