<header>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Logo</h1>
				<p class="text_size-5 text_color-ocean--40">
					The key component to our brand is our logo. This is how we are visually recognized by the world around us and where everything is tied together. We use our logo effectively and appropriately depending on the application. The guidelines below will help determine usage in your application.
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Color</h5>
				<p class="text_size-4 pb5">
					The following is a representation of how our logo is used with color. Primarily we use our logo in white when on a dark background. When on a light background we use our primary blue (<a href="/colors" title="Ocean-100 Color">Ocean-100</a>) as the base color.  
				</p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-5"><strong>Full Logo</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">White</p>
				<div class="logo-block">
					<%= image_tag("logo-sample-blue", width: '100%') %>
				</div>
				<p class="text_size-3"><%= link_to "Download white logo pack (.ai, .pdf, .png)", "/downloads/logo-pack-white.zip"  %>
			</div>
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">Color</p>
				<div class="logo-block">
					<%= image_tag("logo-sample-inverse", width: '100%') %>
				</div>
				<p class="text_size-3"><%= link_to "Download blue logo pack (.ai, .pdf, .png)", "/downloads/logo-pack-blue.zip"  %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-5"><strong>Mark</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">White</p>
				<div class="mark-block">
					<%= image_tag("mark-sample-white", width: '100%') %>
				</div>
				<p class="text_size-3"><%= link_to "Download white mark pack (.ai, .pdf, .png)", "/downloads/mark-pack-white.zip"  %>
			</div>
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">Color</p>
				<div class="mark-block">
					<%= image_tag("mark-sample-blue", width: '100%') %>
				</div>
				<p class="text_size-3"><%= link_to "Download blue mark pack (.ai, .pdf, .png)", "/downloads/mark-pack-blue.zip"  %>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="display-wrap">
		<div class="row spacing-medium">
			<div class="col-xs">
				<h5>Guidelines</h5>
				<p class="text_size-4">
					To ensure each logo is clearly visible and identifiable the following guidelines should be followed when using clear space.  
				</p>
				
			</div>
		</div>
		<div class="row spacing-medium">
			<div class="col-xs-12 col-sm-8">
				<p class="text_size-2 lead-in text_color-lightest">Minimum Full Logo Spacing</p>
				<%= image_tag("guideline-logo-full", width: '100%') %>
				<p class="text-size-3 text_color-light">Use the mark on the logo to measure out spacing both vertically and horizontally. Logo should be centered on both axis.</p>
			</div>
		</div>
		<div class="row spacing-medium">
			<div class="col-xs-12 col-sm-8">
				<p class="text_size-2 lead-in text_color-lightest">Logo Lockups</p>
				<%= image_tag("guideline-logo-lockup", width: '100%') %>
				<p class="text-size-3 text_color-light">Logo lockups use IBM Plex Sans as font at 83% height of the logo. In this instance the font is 48px while the logo is 68px in height. Spacing remains the same as the regular full logo.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p class="text_size-2 lead-in text_color-lightest">Minimum Mark Spacing</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<%= image_tag("guideline-mark-1", width: '100%') %>
			</div>
			<div class="col-xs-6 col-sm-3">
				<%= image_tag("guideline-mark-2", width: '100%') %>
			</div>
		</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p class="text-size-3 text_color-light">Mark should always be vertically centered. Note the slight offset when positioning horizontally. </p>
			</div>
		</div>
	</div>
</section>