<header>
	<div class="display-wrap">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h1 class="title lh-title white">Illustrations</h1>
				<p class="body fs-6 lh-6 ocean-40">
					Illustrations are used to support copy by communicating through a visual message. To create a consistent message throughout all of our products, the guidelines and examples below should be followed. 
				</p>
			</div>
	</div>
</header>
<%= render "sectionnav" %>
<section id="principles">
	<div class="display-wrap">
		<div class="grid g-cols">
			<div class="g-col-12 body">
				<h5>Principles</h5>
				<p class="fs-5 lh-5 pb-5">
					In order to create a consistent brand presence and ensure every illustration delivers the same ideology, follow the following principles.
				</p>
				<ul class="list-disc fs-4 lh-5">
					<li>Be bold and show personality</li>
					<li>Deliver a message and have meaning</li>
					<li>Extend our brand through a consistent style</li>
					<li>Be practical and helpful</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="spot-illustrations">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>Spot Illustrations</h5>
				<p class="body fs-5 lh-5 pb-5">
					Spot illustrations allow you to add personality and expression to your designs. They are usually small and much simpler compared to their larger counter parts.   
				</p>
			</div>
		</div>
		<div class="grid g-cols">
			<div class="g-col-12">
				<p class="fs-7 lh-7 mb-8"><strong>Guidelines</strong></p>
			</div>
		</div>
		<div class="grid g-cols gap-m">
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guideline-ill-1", width: '275') %>
				<p class="pt-4">
					<p class="body l--fs-6"><strong>Size</strong></p>
					<p class="body l--fs-4 lh-4">
						Icons come in three sizes: Small (32px), Medium (64px) and Large (128px) which coincide with our <%= link_to "grid", "/grid"  %>. As icons get bigger, they gain details and new <%= link_to "colors", "/colors"  %>. 
					</p>
				</p>
			</div>
			<div class="l--g-col-2 g-col-12">&nbsp;</div>
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guideline-ill-2", width: '160') %>
				<p class="pt-4">
					<p class="body l--fs-6"><strong>Colors</strong></p>
					<p class="body l--fs-4 lh-4">
						Icons are primarily shades of our <%= link_to "primary brand blue", "/colors"  %>. However, this can be changed depending on where the icon is being used. Also, an accent color is added at Medium and Large sizes. 
					</p>
				</p>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guideline-ill-3", width: '304') %>
				<p class="pt-4">
					<p class="body l--fs-6"><strong>Borders</strong></p>
					<p class="body l--fs-4 lh-4">
						Exterior borders are always 2px. Borders are primarily solid. Dashed borders can be used on occasion. All borders have a projecting cap. 
					</p>
				</p>
			</div>
			<div class="l--g-col-2 g-col-12">&nbsp;</div>
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guideline-ill-4", width: '301') %>
				<p class="pt-4">
					<p class="body l--fs-6"><strong>Backgrounds</strong></p>
					<p class="body l--fs-4 lh-4">
						Optionally you can add a background to your spot illustration to make it stand out even more. Backgrounds are set circular designs that you can choose from. 
					</p>
				</p>
			</div>
		</div>
		<div class="grid g-cols">
			<div class="g-col-12">
				<h6>Usages</h6>
			</div>
		</div>
		<div class="grid g-cols gap-l">
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guide-ill-usage1", width: '389') %>
				<p class="pt-4">
					<p class="body l--fs-4 lh-5">
						Spot above content aligned left 
					</p>
				</p>
			</div>
			<div class="l--g-col-2 g-col-12">&nbsp;</div>
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guide-ill-usage2", width: '295') %>
				<p class="pt-4">
					<p class="body l--fs-4 lh-5">
						Spot above content, center aligned
					</p>
				</p>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guide-ill-usage3", width: '389') %>
				<p class="pt-4">
					<p class="body l--fs-4 lh-5">
						Spot aligned to the left of content 
					</p>
				</p>
			</div>
			<div class="l--g-col-2 g-col-12">&nbsp;</div>
			<div class="l--g-col-5 g-col-12">
				<%= image_tag("guide-ill-usage4", width: '386') %>
				<p class="pt-4">
					<p class="body l--fs-4 lh-5">
						Spot inserted into a blank interface state. Add text to your spot to give context to the situation.
					</p>
				</p>
			</div>
		</div>
	</div>
</section>