<header>
	<div class="display-wrap">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h1 class="white">Web Patterns</h1>
				<p class="body l--fs-6 lh-6 ocean-40">
					Our web patterns are commonly used elements and components throughout our marketing website. They provide guidance and rules for how and where to use each pattern specifically.
				</p>
			</div>
	</div>
</header>
<%= render "sectionnav" %>
<section id="introduction">
	<div class="display-wrap">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>Introduction</h5>
					<p class="body fs-5 lh-5 pb-5">
						When creating a new page, updating or expanding on an existing page it is always recommended to insure that you understand all of our patterns. These guidelines insure each pattern is used properly and provides a consistent experience across our marketing site.
					</p>
				</div>
		</div>
		<div class="grid g-cols pb-5">
			<div class="g-col-12">
				<p class="body fs-6 lh-6"><strong>Categories</strong></p>
			</div>
		</div>
		<div class="grid g-cols gap-l">
			<div class="g-col-12 l--g-col-5">
				<%= image_tag "web-cat1", width: "386" %>
				<p class="body fs-5 lh-5 pt-2"><a href="#layout"><strong>Layout</strong></a></p>
				<p class="body fs-4 lh-4">How each page is laid out and the different styles you can use for each page. This includes grids, sections and heros.</p>
			</div>
			<div class="g-col-12 l--g-col-2">&nbsp;</div>
			<div class="g-col-12 l--g-col-5">
				<%= image_tag "web-cat2", width: "386" %>
				<p class="body fs-5 lh-5 pt-2"><a href="#controls"><strong>Controls</strong></a></p>
				<p class="body fs-4 lh-4">Describes each actionable control for our pages, their styles, how they are used and where they are used.</p>
			</div>
		</div>
		<div class="grid g-cols gap-l pt-10">
			<div class="g-col-12 l--g-col-5">
				<%= image_tag "web-cat3", width: "386" %>
				<p class="body fs-5 lh-5 pt-2"><a href="#content-blocks"><strong>Content Blocks</strong></a></p>
				<p class="body fs-4 lh-4">Cards, media blocks and specific blocks that are used to contain different types of content.</p>
			</div>
			<div class="g-col-12 l--g-col-2">&nbsp;</div>
			<div class="g-col-12 l--g-col-5">
				<%= image_tag "web-cat4", width: "386" %>
				<p class="body fs-5 lh-5 pt-2"><a href="#images-and-media"><strong>Images &amp; Media</strong></a></p>
				<p class="body fs-4 lh-4">How images and media types like video are shown throughout the site.</p>
			</div>
		</div>
	</div>
</section>
<section id="layout">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>Layout</h5>
				<p class="body fs-5 lh-5 pb-5">
					When you start any page the first thing to consider is the layout. How a page is constructed largely depends on the types of layout that are available and how they are applicable to your project. Each layout contains different customizable sections shown below.
				</p>
			</div>
		</div>
		<div class="grid g-cols pb-5">
			<div class="g-col-12">
				<p class="body fs-7 lh-7 pt-2"><strong>Overall Structure</strong></p>
			</div>
		</div>
		<div class="grid g-cols pt-5">
			<div class="g-col-12">
				<%= image_tag "web-struct", width: "100%" %>
			</div>
		</div>
		<div class="grid g-cols pt-10">
			<div class="g-col-12">
				<p class="body fs-7 lh-7 pt-2"><strong>Hero</strong></p>
			</div>
		</div>
		<div class="grid g-cols pt-5">
			<div class="g-col-12">
				<%= image_tag "web-hero1", width: "100%" %>
			</div>
		</div>
		<div class="grid g-cols pt-2">
			<div class="g-col-8 g-push-2">
				<p class="body fs-4 lh-4">Our hero adds significant importance to each page it is on. It allows a visitor to immediately see the following:</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li><strong>Lead-in Title</strong> - The page topic</li>
					<li><strong>Main Heading</strong> - Page context and introduction</li>
					<li><strong>Call-to-action</strong> - Engage in the primary action of the page without scrolling</li>
				</ul>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-5">
				<%= image_tag "web-hero2", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Base Hero</strong></p>
				<p class="body fs-4 lh-4 pt-2">Our hero allows us to introduce the page topic while providing an easy way for visitors to interact with the primary action. </br></br>NOTE: It always contains a call-to-action <%= link_to "button", "/patterns/buttons" %> heading, and lead-in title. </p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2 br-1">
						<%= image_tag "Icon/UI/droplet.svg" %>
					</i>Style Options</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Background colors <a href="//brand/colors" title="Brand Colors">Slate 100</a> <%= color_peek("slate", "100") %> or  <a href="//brand/colors" title="Brand Colors">Ocean 100</a> <%= color_peek("ocean", "100") %></li>
					<li>Background image (Optional)</li>
				</ul>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				<%= image_tag "web-hero3", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Hero With Video</strong></p>
				<p class="body fs-4 lh-4 pt-2">When introducing a topic that requires more context, a video can be used to create more attention on a page. Videos should describe the topic or context of the page.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Same as base hero</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="controls">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>Controls</h5>
				<p class="body fs-5 lh-5 pb-5">
					Controls are essential to any website. It allows visitors to engage in various content throughout the site. Use controls like <%= link_to "buttons", "/patterns/buttons" %> to allow interaction with topics or input fields to allow submission of content. When using a control in your design, consider the following guidelines.
				</p>
			</div>
		</div>
		<div class="grid g-cols pb-5">
			<div class="g-col-12">
				<p class="body fs-7 lh-7 pt-2"><strong>Buttons</strong></p>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-5">
				<%= image_tag "web-control1", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Text Call-to-Action</strong></p>
				<p class="body fs-4 lh-4 pt-2">Our primary <%= link_to "buttons", "/patterns/buttons" %> are used to perform various actions in various situations. They could submit data or go-to another page within our site. </p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Size: Large, Medium, Small (Dependant on paragraph text)</li>
				</ul>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				<%= image_tag "web-control2", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Standard Button</strong></p>
				<p class="body fs-4 lh-4 pt-2">When introducing a topic that requires more context, a video can be used to create more attention on a page. Videos should describe the topic or context of the page.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li><a href="//brand/colors" title="Brand Colors">Ocean 100</a> <%= color_peek("ocean", "100") %> (Default) or <a href="//brand/colors" title="Brand Colors">Mint 100</a> <%= color_peek("mint", "100") %> (Used only on blue backgrounds)</li>
					<li>Size: Large, Medium, Small, X-Small</li>
				</ul>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-5">
				<%= image_tag "web-control3", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Pill Button</strong></p>
				<p class="body fs-4 lh-4 pt-2">Pill <%= link_to "buttons", "/patterns/buttons" %> are primarily used in our heros as a primary action <%= link_to "button", "/patterns/buttons" %>. They shouldn’t be used anywhere else within our site.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>None</li>
				</ul>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				<%= image_tag "web-control4", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Cap Button</strong></p>
				<p class="body fs-4 lh-4 pt-2">Cap buttons are standard <%= link_to "buttons", "/patterns/buttons" %> built into input fields. These are primarily used for capturing user trial information in our upsell blocks.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li><a href="//brand/colors" title="Brand Colors">Ocean 100</a> <%= color_peek("ocean", "100") %> (Default) or <a href="//brand/colors" title="Brand Colors">Mint 100</a> <%= color_peek("mint", "100") %> (Used only on blue backgrounds)</li>
				</ul>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-12">
				<div class="p-4 bc-slate-80 bs-solid br-1 fs-4 callout">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/thumb-up.svg" %></i><span class="fw-700"> Tip:</span> Looking for more info on how to use buttons? Check out our <%= link_to "button pattern guide", "/patterns/buttons" %>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="content-blocks">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>Content Blocks</h5>
				<p class="body fs-5 lh-5 pb-5">
					Content blocks are an important part of our website pages. They allow you to present content to the reader in various ways. These allow the reader to focus on different content at different times. Follow the guidelines below on when to use different content blocks. 
				</p>
			</div>
		</div>
		<div class="grid g-cols pb-5">
			<div class="g-col-12">
				<p class="body fs-7 lh-7 pt-2"><strong>Page Sections</strong></p>
			</div>
		</div>
		<div class="grid g-cols pt-5">
			<div class="g-col-12">
				<%= image_tag "web-content1", width: "100%" %>
			</div>
		</div>
		<div class="grid g-cols pt-5">
			<div class="g-col-12">
				<p class="fs-4 lh-4">When constructing a page section, be sure to allow the reader to be able to do each of the following:</p>
				<ol class="list-numbered fs-4 lh-7">
					<li><strong>Understand the topic</strong> - The introductory title of the section should be descriptive to the content.</li>
					<li><strong>Understand the context</strong> - The paragraph copy should explain the context from the main title heading of the section.</li>
					<li><strong>Visualize the context</strong> - Use video, imagery or illustrations to help visualize the context.</li>
					<li><strong>Engage in more</strong> -  If describing a topic that relates to a different page of our site, use a text call-to-action <%= link_to "button", "/patterns/buttons" %> to link to more.</li>
					<li><strong>See the content</strong> - Background color Should be opposite of any other backgrounds near it. This helps to separate content visually.</li>
				</ol>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-5">
				<%= image_tag "web-content2", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Basic Section</strong></p>
				<p class="body l--fs-4 lh-4 pt-2">Basic Sections are the easiest way to show content on our site pages. They can be combined with other sections to show different content throughout the site.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Background color: <a href="/brand/colors" title="Brand Colors">White</a> (Default), <a href="/brand/colors" title="Brand Colors">Ocean 20</a> <%= color_peek("ocean", "20") %>, <a href="/brand/colors" title="Brand Colors">Ocean 100</a> <%= color_peek("ocean", "100") %>, <a href="/brand/colors" title="Brand Colors">Slate 100</a> <%= color_peek("slate", "100") %>, <a href="/brand/colors" title="Brand Colors">Lavender 100</a> <%= color_peek("lavender", "100") %>, <a href="/brand/colors" title="Brand Colors">Mint 100</a> <%= color_peek("mint", "100") %></li>
					<li>Content: Aligned left, right or centered depending on previous sections</li>
				</ul>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				<%= image_tag "web-content3", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Feature Roll</strong></p>
				<p class="body fs-4 lh-4 pt-2">Feature sections allow you to show a list of ‘features’ using spot illustrations. These can be placed in various layouts based on the amount of content needed.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Background color: <a href="/brand/colors" title="Brand Colors">White</a> (Default) or <a href="/brand/colors" title="Brand Colors">Ocean 20</a> <%= color_peek("ocean", "20") %> </li>
					<li>Content: Centered</li>
					<li>Layout: 4 column, 3 column</li>
				</ul>
			</div>
		</div>
		<div class="grid g-cols mt-10">
			<div class="g-col-5">
				<%= image_tag "web-content4", width: "100%" %>
				<p class="body fs-6 lh-6 pt-8"><strong>Focal Section</strong></p>
				<p class="body fs-4 lh-4 pt-2">Focal sections allow you to capture your reader using various background colors along with captivating photography. Focal sections can be used once on a page.</p>
				<p class="fs-3 lh-3 fw-700 body tt-upper ls slate-80 mt-8">
					<i class="icon-xs pr-2"><%= image_tag "Icon/UI/droplet.svg" %></i>Style Options
				</p>
				<ul class="body fs-4 lh-7 list-disc">
					<li>Background color: <a href="/brand/colors" title="Brand Colors">Slate 100</a> <%= color_peek("slate", "100") %> (Default), <a href="/brand/colors" title="Brand Colors">Ocean 100</a> <%= color_peek("ocean", "100") %> or <a href="/brand/colors" title="Brand Colors">Mint 100</a> <%= color_peek("mint", "100") %></li>
					<li>Content: Aligned left or right</li>
				</ul>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				&nbsp;
			</div>
		</div>
	</div>
</section>