<header>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Web Patterns</h1>
				<p class="text_size-5 text_color-ocean--40">
					Our web patterns are commonly used elements and components throughout our marketing website. They provide guidance and rules for how and where to use each pattern specifically.
				</p>
			</div>
	</div>
</header>
<%= render "sectionnav" %>
<section id="introduction">
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Introduction</h5>
					<p class="text_size-4 pb5">
						When creating a new page, updating or expanding on an existing page it is always recommended to insure that you understand all of our patterns. These guidelines insure each pattern is used properly and provides a consistent experience across our marketing site.
					</p>
				</div>
		</div>
		<div class="row pb5">
			<div class="col-xs-12">
				<p class="text_size-6"><strong>Categories</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-xs-12">
				<%= image_tag "web-cat1", width: "386" %>
				<p class="text_size-4 pt2"><a href="#layout"><strong>Layout</strong></a></p>
				<p class="text_size-3">How each page is laid out and the different styles you can use for each page. This includes grids, sections and heros.</p>
			</div>
			<div class="col-sm-2 col-xs-12">&nbsp;</div>
			<div class="col-sm-5 col-xs-12">
				<%= image_tag "web-cat2", width: "386" %>
				<p class="text_size-4 pt2"><a href="#controls"><strong>Controls</strong></a></p>
				<p class="text_size-3">Describes each actionable control for our pages, their styles, how they are used and where they are used.</p>
			</div>
		</div>
		<div class="row pt6">
			<div class="col-sm-5 col-xs-12">
				<%= image_tag "web-cat3", width: "386" %>
				<p class="text_size-4 pt2"><a href="#content-blocks"><strong>Content Blocks</strong></a></p>
				<p class="text_size-3">Cards, media blocks and specific blocks that are used to contain different types of content.</p>
			</div>
			<div class="col-sm-2 col-xs-12">&nbsp;</div>
			<div class="col-sm-5 col-xs-12">
				<%= image_tag "web-cat4", width: "386" %>
				<p class="text_size-4 pt2"><a href="#images-and-media"><strong>Images &amp; Media</strong></a></p>
				<p class="text_size-3">How images and media types like video are shown throughout the site.</p>
			</div>
		</div>
	</div>
</section>
<section id="layout">
	<div class="display-wrap separator">
		<div class="row">
			<div class="col-xs">
				<h5>Layout</h5>
				<p class="text_size-4 pb5">
					When you start any page the first thing to consider is the layout. How a page is constructed largely depends on the types of layout that are available and how they are applicable to your project. Each layout contains different customizable sections shown below.
				</p>
			</div>
		</div>
		<div class="row pb5">
			<div class="col-xs-12">
				<p class="text_size-6"><strong>Overall Structure</strong></p>
			</div>
		</div>
		<div class="row pt5">
			<div class="col-xs-12">
				<%= image_tag "web-struct", width: "100%" %>
			</div>
		</div>
		<div class="row pt10">
			<div class="col-xs-12">
				<p class="text_size-6"><strong>Hero</strong></p>
			</div>
		</div>
		<div class="row pt5">
			<div class="col-xs-12">
				<%= image_tag "web-hero1", width: "100%" %>
			</div>
		</div>
	</div>
</section>