<%= render "sectionnav" %>
<div class="display-wrap">
	<div class="grid g-cols">
		<div class="g-col-12">
			<div class="breadcrumb fw-500">
				<a href="/patterns">Patterns</a> / Buttons
			</div>
			<h2 class="">Buttons</h2>
			<p class="body fs-5 fs-5 lh-5 slate-100 mb-8">
				Buttons allow users to control different aspects of the UI. They are the primary point of interaction for all actions that occur.  They can be used to submit, save or delete data. 
			</p>
			<%= image_tag "patterns/buttons/sizes", width: "100%" %>
		</div>
	</div>
</div>
<div class="display-wrap separator">
	<section id="labels">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Labels</h5>
				<p class="body fs-4 fs-4 lh-4 slate-100 mb-9">
					When writing button labels consider the action that is being performed. A button should clearly identify the action and inform the user of the possible outcome. Labels should always be in sentence case.
				</p>
				<%= image_tag "patterns/buttons/labels-guide", width: "795" %>
			</div>
		</div>
	</section>
</div>
<div class="display-wrap separator">
	<section id="styles">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Styles</h5>
				<div class="pt-5">
					<table class="style2 fs-3 lh-3">
						<tr>
							<th>Button</th>
							<th>Usage</th>
						</tr>
						<tr>
							<td><a href="javascript:void()" class="fw-500 fs-3">Text Button</a></td>
							<td>Basic button used for secondary actions or call-to-actions after paragraphs. </td>
						</tr>
						<tr>
							<td><button class="btn btn-small pointer">Primary Button</button></td>
							<td>Basic button used for secondary actions or call-to-actions after paragraphs. </td>
						</tr>
						<tr>
							<td><button class="btn btn-small btn-mint pointer">Alternate Button</button></td>
							<td>Alternate primary button for all primary actions. Used only on blue backgrounds where the blue primary cannot be used.</td>
						</tr>
						<tr>
							<td><button class="btn btn-small btn-strawberry pointer">Delete Button</button></td>
							<td>Primary destructive action button. Used to destroy data.</td>
						</tr>
						<tr>
							<td><button class="btn btn-small disabled">Disabled Button</button></td>
							<td>Disabled state for any button. Inherited color with 30% opacity.</td>
						</tr>
						<tr>
							<td><button class="btn btn-small pill btn-mint">Pill Button</button></td>
							<td>Website hero sections for primary call-to-action.</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="display-wrap separator">
	<section id="options">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Options</h5>
			</div>
			<div class="g-col-12 pt-2">
				<p class="body fs-7 lh-7 pb-6"><strong>Icons</strong></p>
				<%= image_tag "patterns/buttons/icons1", width: "322" %>
				<ol class="list-numbered fs-4 lh-6">
					<li>Use left justified icons to add context to your action</li>
					<li>Use arrow icons to identify actions that the action will move the user forward or back to another page</li>
				</ol>
			</div>
			<div class="g-col-12 pt-5">
				<p class="body fs-7 lh-7 pb-6"><strong>Caps</strong></p>
				<%= image_tag "patterns/buttons/caps1", width: "634" %>
				<ol class="list-numbered fs-4 lh-6">
					<li>Use a right cap to attach actions to input fields</li>
				</ol>
			</div>
		</div>
	</section>
</div>
<div class="display-wrap separator">
	<section id="grouped-buttons">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Grouped Buttons</h5>
			</div>
			<div class="g-col-12 pt-2">
				<p class="body fs-7 lh-7 pb-6"><strong>Basic Group</strong></p>
				<%= image_tag "patterns/buttons/btngroup1", width: "581" %>
				<ol class="list-numbered fs-4 lh-6">
					<li>When grouping buttons the primary action should always come after the secondary</li>
				</ol>
			</div>
		</div>
	</section>
</div>