
<header class="display-wrap pt-0">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">Library</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				Our library contains resources to important brand assets that can be used across the entire organization. Whether you are preparing a keynote to give infront of the company or sending paper documents across the world, these assets will give you all you need to get started.
			</p>
		</div>
	</div>
</header>
<%= render "sectionnav" %>
<section id="guidelines">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Guidelines</h5>
				<p class="body fs-4 lh-4 pb-5">When using any assets in our library there is a few guidelines you should follow to make sure our cohesive brand remains intact.</p>
			</div>
		</div>
		<div class="grid g-cols gap-l body">
			<div class="g-col-12 l--g-col-6">
				<div class="container bordered green-top">
					<div class="grid g-cols ">
						<div class="g-col-12 l--g-col-12">
							<%= image_tag "guideline-yes", width: "64", class: "mr-4 f-left" %>
							<p class="fs-4 lh-4"><span class="mint"><strong>DO</strong></span> Add your own copy and images to customize the message and tailor the content around your own story.</p>
						</div>
					</div>
					<div class="grid g-cols">
						<div class="g-col-12">
							<%= image_tag "library-example1", width: "100%" %>
						</div>
					</div>
				</div>
			</div>
			<div class="g-col-12 l--g-col-6 body">
				<div class="container bordered red-top">
					<div class="grid g-cols ">
						<div class="g-col-12 l--g-col-12">
							<%= image_tag "guideline-no", width: "64", class: "mr-4 f-left" %>
							<p class="fs-4 lh-4"><span class="strawberry"><strong>DON'T</strong></span> Change colors, typography or add any other items not given within the supplied templates. </p>
						</div>
					</div>
					<div class="grid g-cols">
						<div class="g-col-12">
							<%= image_tag "library-example2", width: "100%" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="presentations">
	<div class="display-wrap separator body">
		<div class="grid g-cols">
			<div class="g-col-12">
				<div class="separator"></div>
			</div>
			<div class="g-col-12">
				<h5>Presentations</h5>
				<p class="fs-4 lh-4 pb-5">Our presentation kits are designed to allow anyone to create a branded presentation for internal or external usage. Mix and match the supplied slide templates to create your own visual story.</p>
			</div>
		</div>
		<div class="grid g-cols pb-4 gap-l">
			<div class="g-col-12">
				<p class="fs-6 lh-6"><strong>Google Slides</strong></p>
			</div>
			<div class="g-col-12 l--g-col-4 m--g-col-6">
				<%= image_tag "slide1", width: "100%", class: "shadow" %>
			</div>
			<div class="g-col-12 l--g-col-4 m--g-col-6">
				<%= image_tag "slide2", width: "100%", class: "shadow"  %>
			</div>
			<div class="g-col-12 l--g-col-4 m--g-col-6">
				<%= image_tag "slide3", width: "100%", class: "shadow"  %>
			</div>
		</div>
		<div class="grid g-cols">
			<div class="g-col-12">
				<p class="fs-3 lh-3"><a href="https://docs.google.com/presentation/d/1yJNMazBZxBKhi0cH-fn1ARuxCtm8m61UXW2XAjc5dNA/edit?usp=sharing" target="_blank" title="Click to access Google Slides kit">Click to access ActiveCampaign Google Slides kit</a></p>
			</div>
		</div>
	</div>
</section>
<section id="document-templates">
	<div class="display-wrap separator body">
		<div class="grid g-cols middle-xs">
			<div class="g-col-12">
				<h5>Document Templates</h5>
				<p class="fs-4 lh-4 pb-5">When creating documents for internal usage, consider using a document template like the one below. The document template uses brand cohesive typography along with colors and other styles. </p>
			</div>
		</div>
		<div class="grid g-cols gap-l pb-4">
			<div class="g-col-12">
				<p class="fs-6 lh-6 pb-2"><strong>Google Docs</strong></p>
			</div>
			<div class="g-col-12 l--g-col-4 m--g-col-6">
				<%= image_tag "doc1", width: "100%", class: "shadow light-border" %>
			</div>
			<div class="g-col-12 l--g-col-4 m--g-col-6">
				<%= image_tag "doc2", width: "100%", class: "shadow light-border"  %>
			</div>
		</div>
		<div class="grid g-cols">
			<div class="g-col-12">
				<p class="fs-3 lh-3"><a href="https://docs.google.com/document/d/1ODESfeKM3fSubSnzTmUnDy3DWP4vh2_lxkk1v6bHmXA/edit?usp=sharing" target="_blank" title="Click to access Google Doc Template">Click to access ActiveCampaign Google Docs template</a></p>
			</div>
		</div>
	</div>
</section>

