<nav>
	<div class="display-wrap">
		<div class="row middle-xs">
			<div class="col-xs-12 col-lg-4">
				<%= link_to image_tag("ac-logo-white", width: '258'), root_path %>
			</div>
			<div class="col-xs">
				<ul>
					<li class="<%= active_class('/logo') %>">
						<%= link_to "Logo", "/logo" %>
					</li>
					<li class="<%= active_class('/typography') %>">
						<%= link_to "Typography", "/typography" %>
					</li>
					<li class="<%= active_class('/colors') %>">
						<%= link_to "Colors", "/colors" %>
					</li>
					<li class="<%= active_class('/icons') %>">
						<%= link_to "Icons", "/icons" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>