<div class="navbar g-col-12">
	<nav>
		<div class="grid g-cols ai-center">
			<div class="g-col-9">
				<div class="inline-block va-middle">
					<a href="/" title="Return Home" class="block"><%= image_tag "logo-top.svg", width: "44px", class: "block"%></a>
				</div>
				<ul class="inline-block va-middle">
					<li class="<%= active_class('/brand') %>">
						<%= link_to "Brand", "/brand/logo" %>
					</li>
					<li class="<%= active_class('/marketing') %>">
						<%= link_to "Marketing", "/marketing/webpatterns" %>
					</li>
					<li class="<%= active_class('/patterns') %>">
						<%= link_to "Patterns", "/patterns" %>
					</li>
					<li class="<%= active_class('/resources') %>">
						<%= link_to "Resources", "/resources/glossary" %>
					</li>
				</ul>
			</div>
			<div class="g-col-3 ta-right">
				<ul>

					<!--<li class="<%= active_class('/') %>">
						<%= link_to "Introduction", "/" %>
					</li>-->
					<li class="<%= active_class('/changes') %>">
						<%= link_to "What's New", "/changes" %>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>