<div class="l--g-col-2 sidebar">
	<nav>
		<ul>
			<li class="section-heading">Resources</li>
			<li class="<%= active_class('/resources/glossary') %>"><%= link_to "Glossary", "/resources/glossary" %></li>
			<li class="<%= active_class('/resources/library') %>"><%= link_to "Library", "/resources/library" %></li>
			<li class="<%= active_class('/resources/email-signature') %>"><%= link_to "Email Signature", "/resources/email-signature" %></li>
		</ul>
	</nav>
</div>