<div class="l--g-col-2 sidebar">
	<nav>
		<ul>
			<li class="section-heading">Getting Started</li>
			<li class="<%= active_class('/patterns/intro') %>"><%= link_to "Introduction", "/patterns/intro" %></li>
		</ul>
		<ul>
			<li class="section-heading">Interaction</li>
			<li class="<%= active_class('/patterns/buttons') %>"><%= link_to "Buttons", "/patterns/buttons" %></li>
			<li class="<%= active_class('/patterns/input-fields') %>"><%= link_to "Input Fields", "/patterns/input-fields" %></li>
		</ul>
	</nav>
</div>