<nav>
	<div class="logo">
		<a href="/" title="Return home">
			<%= image_tag "sidebar-logo.png" %>
		</a>
	</div>
	<ul>
		<li class="section-heading">Getting Started</li>
		<li class="<%= active_class('/changes') %>"><%= link_to "What's New?", "/changes" %></li>
	</ul>
	<ul>
		<li class="section-heading">Brand</li>
		<li class="<%= active_class('/brand/logo') %>"><%= link_to "Logo", "/brand/logo" %></li>
		<li class="<%= active_class('/brand/typography') %>"><%= link_to "Typography", "/brand/typography" %></li>
		<li class="<%= active_class('/brand/colors') %>"><%= link_to "Colors", "/brand/colors" %></li>
		<li class="<%= active_class('/brand/illustrations') %>"><%= link_to "Illustrations", "/brand/illustrations" %></li>
		<li class="<%= active_class('/brand/library') %>"><%= link_to "Library", "/brand/library" %></li>
		<li class="<%= active_class('/brand/grid') %>"><%= link_to "Grid", "/brand/grid" %></li>
	</ul>
	<ul>
		<li class="section-heading">Marketing</li>
		<li class="<%= active_class('/marketing/webpatterns') %>"><%= link_to "Web Patterns", "/marketing/webpatterns" %></li>
	</ul>
	<ul>
		<li class="section-heading">Resources</li>
		<li class="<%= active_class('/resources/glossary') %>"><%= link_to "Glossary", "/resources/glossary" %></li>
		<li class="<%= active_class('/resources/email-signature') %>"><%= link_to "Email Signatures", "/resources/email-signature" %></li>
	</ul>
</nav>