<!DOCTYPE html>
<html>
<head>
  <title>ActiveCampaign Style Guide</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700|Poppins:700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!--<%= render "globalmessage" %>-->
  <div class="grid g-cols">
    <div class="l--g-col-2 sidebar">
      <%= render "sidebar_default" %>
    </div>
    <div class="l--g-col-10 g-col-12">
      <%= yield %>
      <%= render "footer" %>
    </div>
  </div>
	
</body>
</html>
